
/* navbar */

.logo {
  z-index: 9999;
}

.toggle-button {
  display: none;
}
@media (max-width: 768px) {
  .primary-navigation {
    z-index: 999;

    position: absolute;
    right: 0;
    top: 60px;

    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;

    flex-direction: column;
    gap: 2em;

    padding: min(24vh, 5rem) 0em;

    background: black;
  }

  .primary-navigation li {
    text-align: center;
  }

  .primary-navigation.active {
    width: 270px;
  }

  .toggle-button {
    display: block;
    z-index: 1;
    position: absolute;
    top: 4%;
    right: 15%;
  }
}

.slower {
  animation-duration: 10s;
}


/* content */

.underline-tag{
  position: relative;
}


.underline-div{
  position: absolute;
  bottom:13%;
  z-index: 0;
}

/* graphic */

.graphic-container{
  position: relative;
}

.icon-box{
  position: absolute;
  top:85%;
  right:11%;
}

@media (max-width:768px) {
  .icon-box{
    transform: scale(0.6);
    top:80%;
    right:7%;
  }
}

@media (max-width:320px) {
  .icon-box{
    transform: scale(0.5);
    top:78%;
    right:4%;
  }
}

@media (min-width:1024px) {
  .icon-box{
    right: 13%;
  }
}